#animate {
    width: 118.333px;
    height: 118.333px;
    background-image: url("http://i.imgur.com/MbT28qN.png");
    animation: playX 1s steps(6) infinite, playY 3s steps(3) infinite;
}

@keyframes playX {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: -710px;
    }
}

@keyframes playY {
    from {
        background-position-y: 0px;
    }

    to {
        background-position-y: -355px;
    }
}
